<div>

    <div class="flex flex-row items-start w-full">

        <!-- Column 1 -->
        <div>
            <div class="flex flex-col justify-center py-[27px] px-3 border font-medium">
                <p class="!m-0 text-nowrap">Module Name</p>
            </div>
            <ng-container *ngFor="let module of modules">
                <div class="py-2 px-3 border text-nowrap">{{ module.moduleName }}</div>
            </ng-container>
        </div>

        <!-- Milestone Columns -->
        <div class="flex flex-row items-baseline ml-[-1px] w-full overflow-x-auto overflow-y-hidden">
            <ng-container *ngFor="let milestone of milestones">

                <div class="grid grid-cols-4 relative min-w-[400px]">
                    <!-- Milestone Cell -->
                    <div class="text-center col-span-4 py-2 px-3 border font-medium">{{ milestone.milestoneName }}</div>

                    <!-- Week Cells (fixed 4 weeks) -->
                    <div class="text-center col-span-1 py-2 px-3 border font-medium">Week 1</div>
                    <div class="text-center col-span-1 py-2 px-3 border font-medium">Week 2</div>
                    <div class="text-center col-span-1 py-2 px-3 border font-medium">Week 3</div>
                    <div class="text-center col-span-1 py-2 px-3 border font-medium">Week 4</div>

                    <!-- Progress Cells -->
                    <ng-container *ngFor="let module of modules">
                        <div class="col-span-1 py-2 px-3 border font-medium relative h-[38px]">
                            
                            <!-- Change first args of getStringWeek() and computeWidth() to starting week. It will automatically compute the lenght and starting of progress -->
                            <!-- Note: that this is assumingly all end date are from the 4th week. -->
                            <div class="flex flex-row absolute justify-center items-center top-[3px] h-[30px] bg-blue-600 text-white"
                                [style.left.%]="getStartingWeek(1)"
                                [style.width.%]="computeWidth(1, module.totalPercentageDone, getModuleProgress(module, milestone))">
                                <p class="!m-0">
                                    {{ getModuleProgress(module, milestone) ? module.totalPercentageDone + ' %' : '&nbsp;' }}
                                </p>
                            </div>
                        </div>
                        <div class="col-span-1 py-2 px-3 border font-medium"></div>
                        <div class="col-span-1 py-2 px-3 border font-medium"></div>
                        <div class="col-span-1 py-2 px-3 border font-medium"></div>
                    </ng-container>

                </div>

            </ng-container>
        </div>

    </div>

</div>